[submodule "deformation_transfer_ARkit_blendshapes"]
	path = thirdparty/deformation_transfer_ARkit_blendshapes
	url = https://github.com/vasiliskatr/deformation_transfer_ARkit_blendshapes


[submodule "pyrender"]
	path = thirdparty/pyrender
	url = https://github.com/mmatl/pyrender
